{{#component "index-li"}}
    <div class="divheaderShadow"></div>
    <div id="full-screen-slider">
        <ul id="slides">
            {{#each _DATA_}}
                <li>{{appId}}-{{appName}}</li>
            {{/each}}
        </ul>
    </div>
{{/component}}