<meta charset="UTF-8">
<div class="footer">
    <div class="inner cf">
        <div class="widget partner">
            <h4 class="widgetName">
                <img src="../../lib/templates/footer/img/footer_rd_bg.png?v=&version&"><span>&nbsp;合作银行</span>
            </h4>
            <div class="widgetContent">
                <img src="../../lib/templates/footer/img/partner.png?v=&version&">
            </div>
        </div>
        <div class="widget appdl">
            <h4 class="widgetName">
                <img src="../../lib/templates/footer/img/footer_rd_bg.png?v=&version&"><span>&nbsp;客户端</span>
            </h4>
            <div class="appClient widgetContent">
                <a class="hotArea01" href="/bppf/bppf/appdownload.do?method=toAppDown&amp;flag=1&amp;type=jfy"></a>
                <a class="hotArea02" href="/bppf/bppf/appdownload.do?method=toAppDown&amp;flag=1&amp;type=syt"></a>
                <a class="down01" href="/bppf/bppf/appdownload.do?method=toAppDown&amp;flag=1&amp;type=jfy"></a>
                <a class="down02" href="/bppf/bppf/appdownload.do?method=toAppDown&amp;flag=1&amp;type=syt"></a>
            </div>
        </div>
        <div class="widget link">
            <h4 class="widgetName">
                <img src="../../lib/templates/footer/img/footer_rd_bg.png"><span>&nbsp;在线客服</span>
            </h4>
            <ul class="widgetContent" id="kf-ul">
                <li class="kf-li-float" id="kfBg"></li>
                <li class="widgetRows kf-li-float" style="margin-top: 30px; margin-left: 15px;">
                    即时解答商家咨询<br>服务时间：<br>周一至周日9：00-22：00
                </li>
            </ul>
        </div>
    </div>
    <div class="copyrightInfo">
        <div class="copyright">
            <img class="footerLogo" src="../../lib/templates/footer/img/footerLogo.png">
            <p class="copyrightText">版权所有（C）天翼电子商务有限公司&nbsp;&nbsp;沪ICP备08103358号</p>
        </div>
    </div>
</div>
