<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
             http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<localRepository>C:/Users/susie/.m2/repository</localRepository>
	<interactiveMode />
	<usePluginRegistry />
	<offline />
	<activeProfiles>
		<activeProfile>bestpay</activeProfile>
		<!--
		<activeProfile>gzbestpay</activeProfile>
		-->
	</activeProfiles>
	<pluginGroups />
	<!--
	<servers>
		<server>
			<id>releases</id>
			<username>admin</username>
			<password>admin123</password>
		</server>
		<server>
			<id>snapshots</id>
			<username>admin</username>
			<password>admin123</password>
		</server>
	</servers>
	-->
	<servers>
		<server> 
			<id>releases</id> 
			<username>bestpaydeploy</username>
			<password>bestpay</password> 
		</server> 
		<server> 
			 <id>snapshots</id> 
			 <username>bestpaydeploy</username> 
			 <password>bestpay</password> 
		</server>
	</servers>
	<mirrors>
		<!--
		<mirror>
			<id>public-nexus</id>
			<name>internal nexus repository</name>
			<url>http://mavenrepository.bestpay.com.cn/content/groups/public/</url>
			<mirrorOf>*</mirrorOf>
			<releases>
				<enabled>true</enabled>
			</releases>
			<snapshots>
				<enabled>true</enabled>
				<updatePolicy>always</updatePolicy>
			</snapshots>
		</mirror>
		-->
		<mirror>
		  <id>mirrorId</id>
		  <mirrorOf>repositoryId</mirrorOf>
		  <name>Human Readable Name for this Mirror.</name>
		  <url>http://maven.oschina.net/content/groups/public/</url>
		</mirror>
	</mirrors>
	<proxies />
	<profiles>
		<profile>
			<id>bestpay</id>
			<repositories>
				<repository>
					<id>bestpay</id>
					<name>bestpay</name>
					<url>http://mavenrepository.bestpay.com.cn/content/groups/public/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
			</repositories>
		</profile>
		<profile>
		  <id>gzbestpay</id>
		  <repositories>
			<repository>
			  <id>gzbestpay</id>
			  <name>gzbestpay</name>
			  <url>http://172.26.7.12:8081/nexus/content/repositories/public/</url>
			  <releases>
				<enabled>true</enabled>
			  </releases>
			  <snapshots>
				<enabled>true</enabled>
			  </snapshots>
			</repository>
		  </repositories>
		</profile>
		<profile>
		  <id>aixforce</id>
		  <repositories>
			<repository>
			  <id>aixforce</id>
			  <url>http://repo.aixforce.com/nexus/content/groups/public/</url>
			  <releases>
				<enabled>true</enabled>
			  </releases>
			  <snapshots>
				<enabled>true</enabled>
			  </snapshots>
			</repository>
		  </repositories>
		</profile>
		<profile>  
			<id>jdk-1.7</id>  
			<activation>  
				<activeByDefault>true</activeByDefault>  
				<jdk>1.7</jdk>  
			</activation>  
			<properties>  
				<maven.compiler.source>1.7</maven.compiler.source>  
				<maven.compiler.target>1.7</maven.compiler.target>  
				<maven.compiler.compilerVersion>1.7</maven.compiler.compilerVersion>  
			</properties>  
		</profile>
	</profiles>

</settings>
