<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{#block "title"}}{{/block}}</title>
    <link rel="stylesheet" href="/assets/styles/common.css">
</head>
<body>
<div id="divBody">
    <div class="head"></div>
    {{inject "official/MyLove/index-head"}}

</div>

<script src="/assets/scripts/vendor.js"></script>
<script src="/assets/scripts/common.js"></script>
<script>require("common/init")</script>

</body>
</html>