<meta charset="UTF-8">
<div id="pay-menu" style="display: none;" class="pay-menu" >
    <!--<div ui-sref=".phonerechargecard">-->
        <!--<a class="menu-item" href="#">充值卡</a>-->
    <!--</div>-->
    <!--<div ui-sref=".SDMpay">-->
        <!--<a href="#">水电煤</a>-->
    <!--</div>-->
</div>
<div ui-view></div>