<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{#block "title"}}{{/block}}</title>

</head>
<body>
<div id="divBody">

    <div class="inside-main">{{{block "body"}}}</div>

</div>
<script src="/assets/scripts/vendor.js"></script>
<script src="/assets/scripts/common.js"></script>
<script>require("common/init")</script>
</body>
</html>