<div>
    水电煤
</div>

<div class="control-group">
    <label class="control-label">DateTime Picking</label>
    <div class="controls input-append date form_datetime" id="datetimepicker" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
        <input size="16" type="text" value="" readonly>
        <span class="add-on"><i class="icon-remove"></i></span>
        <span class="add-on"><i class="icon-th"></i></span>
    </div>
    <input type="hidden" id="dtp_input1" value="" /><br/>


    <div id="Show_LoginPasswordView"></div>
    <script>
        var rand = Math.round(Math.random()*8999+1000);
        var url = "'/webCommon/SecurityPassword/view/LoginPasswordView.hbs?v="+rand+"'";
        document.getElementById("Show_LoginPasswordView").setAttribute("ng-include",url);
    </script>

</div>