{{#partial "title"}}应用中心{{/partial}}
{{#partial "body"}}
    <div class="ui-my-left ui-apphomeleft" id="ui-apphomeleft">
        {{inject "official/MyLove/index"}}
    </div>
    <div class="ui-my-right">

    </div>
{{/partial}}
{{> layout/MyLove/layout}}