<div>
    订单交易查询
</div>

<div class="control-group">
    <form action="/api/inquiry/orderInquiry" method="post">
    交易日期:
    <div class="controls input-append date">
        <input size="16" id="id_StartTime" type="text" class="input_date">
        <span id="id_CleanStart" class="add-on"><i class="icon-remove"></i></span>
    </div>
    &nbsp; 至 &nbsp;
    <div class="controls input-append date">
        <input size="16" id="id_EndTime" type="text" class="input_date">
        <span id="id_CleanEnd" class="add-on"><i class="icon-remove"></i></span>
    </div>
    &nbsp;
    <button id="id_inquiry_btn"  type="button" class="btn btn-default btn-lg ">查询</button>
    </form>
</div>

<div>

    <div ng-include="'/Inquiry/orderInquiry/orderInquiryData.hbs?v=&version&'"></div>

</div>
