<link href="../../lib/templates/header/css/bestpay.header.css?v=&version&" type="text/css" rel="stylesheet">
<div class="header" id="header">
    <div id="header_shortcut">
        <div id="intro">
            <ul>
                <li><img src="../../lib/templates/header/img/dot.png?v=&version&">&nbsp;<a href="https://www.bestpay.com.cn/companyindex" target="_blank">公司介绍</a></li>
                <li><img src="../../lib/templates/header/img/dot.png?v=&version&">&nbsp;<a href="/bppf/introduce/product.do">产品介绍</a></li>
            </ul>
        </div>
        <div id="header_download">
            <ul>
                <li><span style="color: rgb(11, 107, 184);">商户ID：{{custCode}}</span></li>
                <li><img src="../../lib/templates/header/img/dot.png?v=&version&">&nbsp;<a href="/bppf/logout.do">退出</a></li>
            </ul>
        </div>
    </div>
    <div id="header_logo_menu">
        <div id="header_logo"
             onclick="document.location.href='/bppf/system/index.do?method=index&menuId=16189'">
        </div>
        <div id="header_menu">
            <ul id="index_menu" style="height: 34px;">
                <li tip="HOMEPAGE" class="menu" url="#" select="true"
                    menuId="16189"><a class="menu-link"
                                      href="/bppf/system/index.do?method=index&menuId=16189">首页</a>
                </li>
                <li tip="IPOSHOMEPAGE" class="menu" url="#" select="false"
                    menuId="16220">
                    <a href="/bppf/ipos/iposindex.do?method=toHomePage&menuId=16220"
                       class="menu-link">交费易</a>
                </li>
                <li tip="" class="menu" url="#" select="false"
                    menuId="26600">
                    <a href="javascript:openEpt();" id="openEpt"
                       url='/bppf/system/openHeadMenu.do?menuId=26600'
                       class="menu-link">企业理财</a>
                </li>
                <li tip="" class="menu" url="#" select="false"
                    menuId="16221">
                    <a href="/bppf/system/openHeadMenu.do?menuId=16221"
                       class="menu-link">交易查询</a>
                </li>
                <li tip="" class="menu" url="#" select="false"
                    menuId="16222">
                    <a href="/bppf/system/openHeadMenu.do?menuId=16222"
                       class="menu-link">账户管理</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="../../lib/templates/header/js/bestpay.header.js?v=&version&"></script>
