<div id="header_shortcut">
    <div id="intro">
        <ul>
            <li><img src="/bppf/static/img/common/dot.png">&nbsp;<a href="https://www.bestpay.com.cn/companyindex" target="_blank">公司介绍</a></li>
            <li><img src="/bppf/static/img/common/dot.png">&nbsp;<a href="/bppf/introduce/product.do">产品介绍</a></li>
        </ul>
    </div>
    <div id="header_download">
        <ul>
            <li><span style="color: rgb(11, 107, 184);">商户ID：{{custCode}}</span></li>
            <li><img src="/bppf/static/img/common/dot.png">&nbsp;<a href="/bppf/logout.do">退出</a></li>
        </ul>
    </div>
</div>
